<a href="https://colab.research.google.com/github/lcpbrandao/Basic_ML_training/blob/master/ML_Cria%C3%A7%C3%A3o_de_vari%C3%A1veis_Laislla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df = spark.read.csv('BASE_JUR001.csv',
                    sep='\t',
                    encoding='utf-8',
                    header=True,
                    inferSchema=False)

In [ ]:
df.printSchema()

root
 |-- CNPJ: string (nullable = true)
 |-- NOME_EMPRESA: string (nullable = true)
 |-- FANTASIA: string (nullable = true)
 |-- NATUREZA_JURIDICA: string (nullable = true)
 |-- ATIVIDADE_PRINCIPAL: string (nullable = true)
 |-- ATIVIDADES_SECUNDARIAS: string (nullable = true)
 |-- CNPJ_FORMATADO: string (nullable = true)
 |-- TIPO: string (nullable = true)
 |-- LOGRADOURO: string (nullable = true)
 |-- NUMERO: string (nullable = true)
 |-- COMPLEMENTO: string (nullable = true)
 |-- BAIRRO: string (nullable = true)
 |-- CEP: string (nullable = true)
 |-- MUNICIPIO: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- TELEFONE_1: string (nullable = true)
 |-- TELEFONE_2: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- ABERTURA: string (nullable = true)
 |-- CAPITAL_SOCIAL: string (nullable = true)
 |-- MOTIVO_SITUACAO: string (nullable = true)
 |-- SITUACAO: string (nullable = true)
 |-- DATA_SITUACAO: string (nullable = true)
 |-- SITUACAO_ESPECIAL: string (nullable = true)
 |-- DATA_SITUACAO_ESPECIAL: string (nullable = true)
 |-- EFR: string (nullable = true)
 |-- NOME_SOCIO: string (nullable = true)
 |-- CARGO: string (nullable = true)
 |-- NOME_REP_LEGAL: string (nullable = true)
 |-- CARGO_REP_LEGAL: string (nullable = true)
 |-- REF_DATE: string (nullable = true)
 |-- LOAD_DATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QUERY_NAME: string (nullable = true)
 |-- QUERY_VERSION: string (nullable = true)
 |-- QUERY_STATUS: string (nullable = true)
 |-- QUERY_DATE: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)

In [ ]:
from pyspark.sql.functions import udf
import pyspark.sql.types as ST
import pyspark.sql.functions as SF
from datetime import datetime

1) Número de e-mais

In [ ]:
df.select(['CNPJ','EMAIL']).show()

+--------------+--------------------+
|          CNPJ|               EMAIL|
+--------------+--------------------+
|36487312000119|                null|
|20096015000102|uberlan@fricks.ad...|
|01953169000129|okaybrazil@outloo...|
|28860602000138|luciana.rocha7@ou...|
|01589195000110|fiscal@gckconsult...|
|87951000000155|                null|
|01061088000114|                null|
|23860083000194|    gaminf@ig.com.br|
|16908760000131|fiscal@casadacont...|
|24491353000108|paulolimabastos@h...|
|11005928000185|                null|
|11299837000108|acontabilissima@g...|
|14102303000120|                null|
|22108490000187|ideia.acontabil@h...|
|22445736000106|contabilidadeamor...|
|27889029000122|   ltpcruz@gmail.com|
|11320545000100|registro@cmmconta...|
|11058064000160|                null|
|52490398000195|                null|
|05308989000119|                null|
+--------------+--------------------+
only showing top 20 rows

In [ ]:
df_1 = df.groupBy('CNPJ').agg(SF.count('EMAIL').alias('QTDE_EMAILS'))
df_1.show()

+--------------+-----------+
|          CNPJ|QTDE_EMAILS|
+--------------+-----------+
|09093187000190|          0|
|09355087000194|          3|
|08948840000192|          0|
|09292585000135|          4|
|02859515000177|          2|
|08872769000101|          4|
|26101680000123|          6|
|24873058000108|          2|
|22409723000181|          3|
|07326479000108|          2|
|17523148000103|          2|
|04708618000161|          0|
|15641176000108|          2|
|08346961000164|          2|
|13065432000122|          1|
|44972370000166|          0|
|04895056000102|          0|
|66225129000106|          0|
|03938997000113|          1|
|26750380000175|          0|
+--------------+-----------+
only showing top 20 rows

2) Número de telefones

In [ ]:
df.select(['CNPJ','TELEFONE_1','TELEFONE_2']).show()

+--------------+--------------+--------------+
|          CNPJ|    TELEFONE_1|    TELEFONE_2|
+--------------+--------------+--------------+
|36487312000119|          null|          null|
|20096015000102|(21) 2671-4350|(21) 2671-4350|
|01953169000129|(11) 3259-1133|          null|
|28860602000138|(31) 9535-7611|          null|
|01589195000110|(11) 3926-5483|          null|
|87951000000155|          null|          null|
|01061088000114|          null|          null|
|23860083000194|(31) 3384-8212|(31) 3384-8212|
|16908760000131|(85) 3275-8401|          null|
|24491353000108|(71) 9957-1925|(71) 3322-7149|
|11005928000185|(81) 8886-6698|          null|
|11299837000108|(41) 3642-2006|          null|
|14102303000120|(94) 3358-1226|          null|
|22108490000187|(11) 3796-4994|          null|
|22445736000106|(31) 3471-2000|          null|
|27889029000122|(14) 3202-9935|          null|
|11320545000100|(27) 3421-6190|          null|
|11058064000160|(62) 3093-7484|          null|
|52490398000195|(11) 2965-0523|          null|
|05308989000119|          null|          null|
+--------------+--------------+--------------+
only showing top 20 rows

In [ ]:
df_2 = df.groupBy('CNPJ').agg((SF.count('TELEFONE_1') + SF.count('TELEFONE_2')).alias('QTE_TELEFONES'))
df_2.show()

+--------------+-------------+
|          CNPJ|QTE_TELEFONES|
+--------------+-------------+
|09093187000190|            2|
|09355087000194|            6|
|08948840000192|            3|
|09292585000135|            8|
|02859515000177|            2|
|08872769000101|            4|
|26101680000123|            6|
|24873058000108|            2|
|22409723000181|            3|
|07326479000108|            2|
|17523148000103|            4|
|04708618000161|            6|
|15641176000108|            2|
|08346961000164|            2|
|13065432000122|            1|
|44972370000166|            0|
|04895056000102|            0|
|66225129000106|            0|
|03938997000113|            1|
|26750380000175|            2|
+--------------+-------------+
only showing top 20 rows

3) Número de filiais

In [ ]:
#@SF.udf transforma uma função Python em função Spark para poder trabalhar com uma coluna inteira
@SF.udf(ST.StringType())
def raiz(cnpj):
    if cnpj is not None:
        return cnpj[:7]
    else:
        return None

df = df.withColumn('RAIZ_CNPJ', raiz(df['CNPJ']))
df.select(['CNPJ','RAIZ_CNPJ']).show()

+--------------+---------+
|          CNPJ|RAIZ_CNPJ|
+--------------+---------+
|36487312000119|  3648731|
|20096015000102|  2009601|
|01953169000129|  0195316|
|28860602000138|  2886060|
|01589195000110|  0158919|
|87951000000155|  8795100|
|01061088000114|  0106108|
|23860083000194|  2386008|
|16908760000131|  1690876|
|24491353000108|  2449135|
|11005928000185|  1100592|
|11299837000108|  1129983|
|14102303000120|  1410230|
|22108490000187|  2210849|
|22445736000106|  2244573|
|27889029000122|  2788902|
|11320545000100|  1132054|
|11058064000160|  1105806|
|52490398000195|  5249039|
|05308989000119|  0530898|
+--------------+---------+
only showing top 20 rows

In [ ]:
df_3 = df.groupBy('CNPJ').agg(SF.count('RAIZ_CNPJ').alias('QTE_Filiais'))
df_3.show()

+--------------+-----------+
|          CNPJ|QTE_Filiais|
+--------------+-----------+
|09093187000190|          2|
|09355087000194|          3|
|08948840000192|          3|
|09292585000135|          4|
|02859515000177|          2|
|08872769000101|          4|
|26101680000123|          6|
|24873058000108|          2|
|22409723000181|          3|
|07326479000108|          2|
|17523148000103|          2|
|04708618000161|          6|
|15641176000108|          2|
|08346961000164|          2|
|13065432000122|          1|
|44972370000166|         10|
|04895056000102|          2|
|66225129000106|          1|
|03938997000113|          1|
|26750380000175|          1|
+--------------+-----------+
only showing top 20 rows

4) Concentração de empresas

In [ ]:
#Concentração pelo CEP da empresa

In [ ]:
df.select(['CNPJ','CEP']).show()

+--------------+--------+
|          CNPJ|     CEP|
+--------------+--------+
|36487312000119|24230101|
|20096015000102|21770000|
|01953169000129|01045001|
|28860602000138|30810130|
|01589195000110|08633210|
|87951000000155|90870070|
|01061088000114|33120060|
|23860083000194|30530110|
|16908760000131|60840280|
|24491353000108|49035500|
|11005928000185|54520600|
|11299837000108|83708100|
|14102303000120|68537000|
|22108490000187|02047020|
|22445736000106|30130001|
|27889029000122|17033370|
|11320545000100|29050911|
|11058064000160|74493750|
|52490398000195|04514103|
|05308989000119|23050340|
+--------------+--------+
only showing top 20 rows

In [ ]:
df_4 = df.groupBy('CEP').agg(SF.count('CNPJ').alias('CNPJ_por_CEP'))
df_4.show()

+--------+------------+
|     CEP|CNPJ_por_CEP|
+--------+------------+
|03691160|           4|
|73900000|          31|
|95059990|           3|
|15735000|           4|
|51110160|          77|
|41830451|           1|
|06765307|           5|
|09190210|          24|
|09371490|           6|
|28300000|          65|
|14060770|           2|
|79580000|          20|
|86455000|           4|
|04385080|           4|
|41940380|           4|
|13505120|           2|
|04079001|           6|
|13390000|          13|
|72110015|           6|
|85914120|           1|
+--------+------------+
only showing top 20 rows

-> União dos Dataframes

In [ ]:
dfFinal = df.join(df_1, 'CNPJ', 'left')

In [ ]:
dfFinal = dfFinal.join(df_2, 'CNPJ', 'left')

In [ ]:
dfFinal = dfFinal.join(df_3, 'CNPJ', 'left')

In [ ]:
dfFinal = dfFinal.join(df_4, 'CEP', 'left')

In [ ]:
dfFinal.columns

['CEP',
 'CNPJ',
 'NOME_EMPRESA',
 'FANTASIA',
 'NATUREZA_JURIDICA',
 'ATIVIDADE_PRINCIPAL',
 'ATIVIDADES_SECUNDARIAS',
 'CNPJ_FORMATADO',
 'TIPO',
 'LOGRADOURO',
 'NUMERO',
 'COMPLEMENTO',
 'BAIRRO',
 'MUNICIPIO',
 'UF',
 'TELEFONE_1',
 'TELEFONE_2',
 'EMAIL',
 'ABERTURA',
 'CAPITAL_SOCIAL',
 'MOTIVO_SITUACAO',
 'SITUACAO',
 'DATA_SITUACAO',
 'SITUACAO_ESPECIAL',
 'DATA_SITUACAO_ESPECIAL',
 'EFR',
 'NOME_SOCIO',
 'CARGO',
 'NOME_REP_LEGAL',
 'CARGO_REP_LEGAL',
 'REF_DATE',
 'LOAD_DATE',
 'STATUS',
 'QUERY_NAME',
 'QUERY_VERSION',
 'QUERY_STATUS',
 'QUERY_DATE',
 'YEAR',
 'MONTH',
 'RAIZ_CNPJ',
 'QTDE_EMAILS',
 'QTE_TELEFONES',
 'QTE_Filiais',
 'CNPJ_por_CEP']

In [ ]:
dfFinal.select(['CNPJ',
                'QTDE_EMAILS',
                'QTE_TELEFONES',
                'QTE_Filiais',
                'CNPJ_por_CEP']).show(20)

+--------------+-----------+-------------+-----------+------------+
|          CNPJ|QTDE_EMAILS|QTE_TELEFONES|QTE_Filiais|CNPJ_por_CEP|
+--------------+-----------+-------------+-----------+------------+
|36487312000119|          0|            0|          2|           6|
|20096015000102|          6|           12|          6|           6|
|01953169000129|          2|            2|          2|          16|
|28860602000138|          1|            1|          1|           3|
|01589195000110|          2|            2|          2|           2|
|87951000000155|          0|            0|          6|           6|
|01061088000114|          0|            0|          6|          12|
|23860083000194|          2|            4|          2|           2|
|16908760000131|          1|            1|          1|           9|
|24491353000108|          2|            4|          2|           7|
|11005928000185|          0|            4|          4|           6|
|11299837000108|          2|            2|          2|           2|
|14102303000120|          0|            1|          1|          65|
|22108490000187|          1|            1|          1|           3|
|22445736000106|          2|            2|          2|           6|
|27889029000122|          1|            1|          1|           2|
|11320545000100|          2|            2|          2|           4|
|11058064000160|          0|            2|          2|           2|
|52490398000195|          0|            4|          4|          11|
|05308989000119|          0|            0|          2|          30|
+--------------+-----------+-------------+-----------+------------+
only showing top 20 rows